doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        link(rel='icon', href='./img/favicon.png', type='image/png')
        link(rel="stylesheet" href="./css/style.css")
        title 107國小閱讀能力檢測

    body 
        button.confirm 
            h3 進入考場


        <!-- Optional JavaScript -->
        
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="./js/index.js")
        
    